[Desktop Entry]
Name=DocCharConvert
GenericName=Document Character Converter
Comment=Convert between different Character Encodings
Exec=doccharconvert
Terminal=false
Type=Application
StartupNotify=true
Icon=doccharconvert
Categories=Utility;TextTools;Java;

