<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.thanlwinsoft.doccharconvert.parser" name="org.thanlwinsoft.doccharconvert.parser" schema="schema/org.thanlwinsoft.doccharconvert.parser.exsd"/>
   <extension-point id="org.thanlwinsoft.doccharconvert.converters" name="org.thanlwinsoft.doccharconvert.converters" schema="schema/org.thanlwinsoft.doccharconvert.converters.exsd"/>
   <extension-point id="org.thanlwinsoft.doccharconvert.converter" name="org.thanlwinsoft.doccharconvert.converter" schema="schema/org.thanlwinsoft.doccharconvert.converter.exsd"/>
   <extension-point id="org.thanlwinsoft.doccharconvert.converter.syllable.checker" name="org.thanlwinsoft.doccharconvert.converter.syllable.checker" schema="schema/org.thanlwinsoft.doccharconvert.converter.syllable.checker.exsd"/>

   <extension
         id="DocCharConvertApp"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.thanlwinsoft.doccharconvert.eclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.thanlwinsoft.doccharconvert.eclipse.Perspective"
            icon="icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.Perspective"
            name="DocCharConvert Eclipse Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="dccx"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard id="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizard"/>
      <category
            id="org.thanlwinsoft.doccharconvert.conversion"
            name="%org.thanlwinsoft.doccharconvert.conversion.category"/>
      <wizard
            category="org.thanlwinsoft.doccharconvert.conversion"
            class="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizard"
            icon="icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.wizard"
            name="org.thanlwinsoft.doccharconvert.wizard"/>
      <primaryWizard
            id="org.thanlwinsoft.doccharconvert.primaryWizard1">
      </primaryWizard>
      <wizard
            category="org.thanlwinsoft.doccharconvert.conversion"
            class="org.thanlwinsoft.doccharconvert.eclipse.wizard.NewDccxWizard"
            hasPages="true"
            icon="icons/Convert16.png"
            id="org.thanlwinsoft.doccharconvert.NewDccxWizard"
            name="%NewDccxWizard">
      </wizard>
      <wizard
            category="org.thanlwinsoft.doccharconvert.conversion"
            class="org.thanlwinsoft.doccharconvert.eclipse.wizard.NewSyllableConverterWizard"
            hasPages="true"
            icon="icons/ConversionTable16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.wizard.NewSyllableConverterWizard"
            name="%NewSyllableConverterWizard"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.thanlwinsoft.doccharconvert.actionSet"
            label="Conversion Wizard Set"
            visible="true">
         <menu
               id="conversionMenu"
               label="Conversion &amp;Wizard">
            <separator name="sampleGroup"/>
         </menu>
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizardAction"
               icon="icons/DocCharConvert16.png"
               id="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizardAction"
               label="%ConversionWizard"
               menubarPath="File/new"
               toolbarPath="Bar/additions"
               tooltip="%ConversionWizard"/>
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.wizard.NewDccxAction"
               icon="icons/Convert16.png"
               id="org.thanlwinsoft.doccharconvert.eclipse.editors.SyllableConverterEditorAction"
               label="%NewDccxWizard"
               menubarPath="File/new"
               tooltip="%NewDccxWizard">
         </action>
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.wizard.NewSyllableConverterAction"
               icon="icons/ConversionTable16.png"
               id="org.thanlwinsoft.doccharconvert.eclipse.wizard.NewSyllableConverterWizard"
               label="%NewSyllableConverterWizard"
               menubarPath="File/new"
               tooltip="%NewSyllableConverterWizard">
         </action>
      </actionSet>
   </extension>
   <extension
         id="DocCharConvertProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.thanlwinsoft.doccharconvert.DocCharConvertApp"
            description="%DocCharConvert.desc"
            name="%DocCharConvert.name">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="icons/DocCharConvert16.png"/>
         <property
               name="windowImages"
               value="icons/DocCharConvert16.png,icons/DocCharConvert32.png"/>
         <property
               name="startupMessageRect"
               value="0,280,455,10"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupProgressRect"
               value="0,295,455,10"/>
         <property
               name="appName"
               value="%DocCharConvert.name">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="DocCharConvertIDEProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%DocCharConvertIDE.desc"
            name="%DocCharConvertIDE.name">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"/>
         <property
               name="windowImages"
               value="icons/DocCharConvert16.png,icons/DocCharConvert32.png"/>
         <property
               name="startupMessageRect"
               value="0,280,455,10"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupProgressRect"
               value="0,295,455,10"/>
         <property
               name="appName"
               value="%DocCharConvertIDE.name">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.thanlwinsoft.doccharconvert.eclipse.ConversionInputEditor"
            default="false"
            filenames="*.txt"
            icon="icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.ConversionInputEditor"
            name="%ConversionInputEditor.editor"/>
      <editor
            class="org.thanlwinsoft.doccharconvert.eclipse.editors.SyllableConverterEditor"
            default="true"
            filenames="*.xml"
            icon="icons/ConversionTable16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.editors.SyllableConverterEditor"
            name="%SyllableConverterEditor">
      </editor>
      <editor
            class="org.thanlwinsoft.doccharconvert.eclipse.editors.DccxEditor"
            default="true"
            filenames="*.dccx"
            icon="icons/Convert16.png"
            id="org.thanlwinsoft.doccharconvert.DccxEditor"
            name="%DccxEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="icons/DocCharConvert16.png"
            id="DocCharConvert.ConversionResult"
            name="%ConversionResult.view"/>
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="icons/RoundTrip16.png"
            id="DocCharConvert.ReverseConversion"
            name="%ReverseConversion.view"/>
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="icons/ConvertTest16.png"
            id="DocCharConvert.DebugUnicode"
            name="%DebugUnicode.view"/>
      <view
            allowMultiple="true"
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView"
            icon="icons/Convert16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView"
            name="%ConversionFileList"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.thanlwinsoft.doccharconvert.eclipse.MainPreferencesPage"
            id="org.thanlwinsoft.doccharconvert.eclipse.MainPrefPage"
            name="%MainPreferencesPage"/>
   </extension>
	<extension
       id="org.thanlwinsoft.doccharconvert.introduction"
       point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Convert16.png"
            id="org.thanlwinsoft.doccharconvert.intro"
            label="%aboutText">
      </intro>
      <introProductBinding
            introId="org.thanlwinsoft.doccharconvert.intro"
            productId="org.thanlwinsoft.doccharconvert.DocCharConvertProduct">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/Convert16.png"
            id="org.thanlwinsoft.doccharconvert.intro"
            label="%aboutText">
      </intro>
      <introProductBinding
            introId="org.thanlwinsoft.doccharconvert.intro"
            productId="org.thanlwinsoft.doccharconvert.DocCharConvert">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.thanlwinsoft.doccharconvert.intro"
            content="docs/en/introContent.xml"
            id="org.thanlwinsoft.doccharconvert.configId">
         <presentation
               home-page-id="root"
               >
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="styles/DocCharConvert.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.thanlwinsoft.doccharconvert.parser">
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.thanlwinsoft.doccharconvert.eclipse.views.ReRunConversion"
            targetID="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView">
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.views.ReRunConversion"
               enablesFor="*"
               icon="icons/Convert16.png"
               id="org.thanlwinsoft.doccharconvert.rerunConversion"
               label="%ReRunConversion"
               menubarPath="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView.ReRun"
               style="push"
               tooltip="%ReRunConversionOnFiles">
         </action>
         <menu
               id="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView.menu"
               label="%ReRunConversion"
               path="slot1">
            <groupMarker
                  name="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView.ReRun">
            </groupMarker>
         </menu>
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.views.ReconvertSelectedAction"
               enablesFor="*"
               icon="icons/Convert16.png"
               id="org.thanlwinsoft.doccharconvert.eclipse.views.ReconvertSelectedAction"
               label="%ReConvertSelected"
               menubarPath="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView.ReRun"
               style="push"
               tooltip="%ReConvertSelectedToolTip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.thanlwinsoft.doccharconvert.filelist.viewerContribution1"
            targetID="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView">
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.views.ReRunConversion"
               id="org.thanlwinsoft.doccharconvert.eclipse.views.ReRunConversion"
               label="%ReRunConversion">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.ui.part.FileEditorInputFactory"
            id="org.eclipse.ui.part.FileEditorInputFactory">
      </factory>
      <factory
            class="org.eclipse.ui.internal.WorkingSetFactory"
            id="org.eclipse.ui.internal.WorkingSetFactory">
      </factory>
	</extension>
   <extension
         id="DocCharConvert"
         name="%DocCharConvert.name"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.thanlwinsoft.doccharconvert.DocCharConvertApp"
            description="%DocCharConvert.desc"
            name="%DocCharConvert.name">
         <property
               name="appName"
               value="%DocCharConvert.name">
         </property>
         <property
               name="aboutImage"
               value="icons/DocCharConvert16.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="windowImages"
               value="icons/DocCharConvert16.png,icons/DocCharConvert32.png">
         </property>
         <property
               name="startupForegroundColor"
               value="E6E6FA">
         </property>
         <property
               name="startupMessageRect"
               value="0,270,455,10">
         </property>
         <property
               name="startupProgressRect"
               value="0,295,455,10">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.thanlwinsoft.doccharconvert.converter">
      <converter
            class="org.thanlwinsoft.doccharconvert.converter.TecKitConverter"
            help="This converter uses the SIL TecKIT library to perform the conversion. There is 1 parameter, the relative path to the compiled tec file."
            name="TecKIT">
      </converter>
      <converter
            class="org.thanlwinsoft.doccharconvert.converter.SyllableConverter"
            help="This converter has one parameter: the relative path to the XML configuration file that defines the mapping tables between syllables in one script and syllables in another."
            name="Syllable Converter">
      </converter>
      <converter
            class="org.thanlwinsoft.doccharconvert.converter.ExternalConverter"
            name="External Converter">
      </converter>
   </extension>
   <extension
         point="org.thanlwinsoft.doccharconvert.converter.syllable.checker">
      <checker
            class="org.thanlwinsoft.doccharconvert.converter.syllable.CapitalizeSentences"
            name="%CapitalizeSentences">
      </checker>
      <checker
            class="org.thanlwinsoft.doccharconvert.converter.syllable.RepeatSyllables"
            name="%RepeatSyllables">
      </checker>
      <checker
            class="org.thanlwinsoft.doccharconvert.converter.syllable.ExceptionList"
            name="%ExceptionList">
      </checker>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="$nl$/ext.xml"
            configId="org.thanlwinsoft.doccharconvert.configId">
      </configExtension>
   </extension>
   -->
</plugin>
