<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.thanlwinsoft.doccharconvert.parser">
      <parser
            class="org.thanlwinsoft.doccharconvert.odf.OdfDocInterface"
            extensions=".odt"
            id="org.thanlwinsoft.doccharconvert.odf.OdfDocInterface"
            name="%OdfDocParser"
            styleSupport="true">
      </parser>
   </extension>

</plugin>
