<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="DocCharConvertApp"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.thanlwinsoft.doccharconvert.eclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.thanlwinsoft.doccharconvert.eclipse.Perspective"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.Perspective"
            name="DocCharConvert Eclipse Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="dccx"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard id="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizard"/>
      <category
            id="org.thanlwinsoft.doccharconvert.conversion"
            name="org.thanlwinsoft.doccharconvert.conversion"/>
      <wizard
            class="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizard"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.wizard"
            name="org.thanlwinsoft.doccharconvert.wizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.thanlwinsoft.doccharconvert.actionSet"
            label="Conversion Wizard Set"
            visible="true">
         <menu
               id="conversionMenu"
               label="Conversion &amp;Wizard">
            <separator name="sampleGroup"/>
         </menu>
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizardAction"
               icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
               id="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizardAction"
               label="%ConversionWizard"
               menubarPath="File/additions"
               toolbarPath="Bar/additions"
               tooltip="%ConversionWizard"/>
      </actionSet>
   </extension>
   <extension
         id="DocCharConvertProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.thanlwinsoft.doccharconvert.DocCharConvertApp"
            description="%DocCharConvert.desc"
            name="%DocCharConvert.name">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"/>
         <property
               name="windowImages"
               value="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"/>
         <property
               name="startupMessageRect"
               value="0,0,0,0"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupProgressRect"
               value="0,0,0,0"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.thanlwinsoft.doccharconvert.eclipse.ConversionInputEditor"
            default="false"
            filenames="*.txt"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.ConversionInputEditor"
            name="%ConversionInputEditor.editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvert.ConversionResult"
            name="%ConversionResult.view"/>
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvert.ReverseConversion"
            name="%ReverseConversion.view"/>
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvert.DebugUnicode"
            name="%DebugUnicode.view"/>
      <view
            allowMultiple="true"
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.bmp"
            id="DocCharConvert.ConversionFileList"
            name="%ConversionFileList"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.thanlwinsoft.doccharconvert.eclipse.MainPreferencesPage"
            id="org.thanlwinsoft.doccharconvert.eclipse.MainPrefPage"
            name="%MainPreferencesPage"/>
   </extension>
	<extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.thanlwinsoft.doccharconvert.intro">
      </intro>
      <introProductBinding
            introId="org.thanlwinsoft.doccharconvert.intro"
            productId="org.thanlwinsoft.doccharconvert.DocCharConvertProduct">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.thanlwinsoft.doccharconvert.intro"
            content="docs/en/introContent.xml"
            id="org.thanlwinsoft.doccharconvert.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="$nl$/ext.xml"
            configId="org.thanlwinsoft.doccharconvert.configId">
      </configExtension>
   </extension>
   -->
</plugin>
