<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="DocCharConvertEclipse"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.thanlwinsoft.doccharconvert.eclipse.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.thanlwinsoft.doccharconvert.eclipse.Perspective"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvertEclipse.perspective"
            name="DocCharConvertEclipse Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="dccx"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard id="DocCharConvertEclipse.conversionWizard"/>
      <category
            id="DocCharConvertEclipse.conversion"
            name="DocCharConvertEclipse.conversion"/>
      <wizard
            class="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizard"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvertEclipse.wizard"
            name="DocCharConvertEclipse.wizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="DocCharConvertEclipse.actionSet"
            label="Conversion Wizard Set"
            visible="true">
         <menu
               id="conversionMenu"
               label="Conversion &amp;Wizard">
            <separator name="sampleGroup"/>
         </menu>
         <action
               class="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizardAction"
               icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
               id="org.thanlwinsoft.doccharconvert.eclipse.wizard.ConversionWizardAction"
               label="%ConversionWizard"
               menubarPath="File/additions"
               toolbarPath="Bar/additions"
               tooltip="%ConversionWizard"/>
      </actionSet>
   </extension>
   <extension
         id="DocCharConvertProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="DocCharConvertEclipse.DocCharConvertEclipse"
            description="%DocCharConvert.desc"
            name="%DocCharConvert.name">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"/>
         <property
               name="windowImages"
               value="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"/>
         <property
               name="startupMessageRect"
               value="0,0,0,0"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupProgressRect"
               value="0,0,0,0"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.thanlwinsoft.doccharconvert.eclipse.ConversionInputEditor"
            default="false"
            filenames="*.txt"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="org.thanlwinsoft.doccharconvert.eclipse.ConversionInputEditor"
            name="%ConversionInputEditor.editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvert.ConversionResult"
            name="%ConversionResult.view"/>
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvert.ReverseConversion"
            name="%ReverseConversion.view"/>
      <view
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionResult"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.png"
            id="DocCharConvert.DebugUnicode"
            name="%DebugUnicode.view"/>
      <view
            allowMultiple="true"
            class="org.thanlwinsoft.doccharconvert.eclipse.views.ConversionFileListView"
            icon="src/org/thanlwinsoft/doccharconvert/icons/DocCharConvert16.bmp"
            id="DocCharConvert.ConversionFileList"
            name="%ConversionFileList"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.thanlwinsoft.doccharconvert.eclipse.MainPreferencesPage"
            id="org.thanlwinsoft.doccharconvert.eclipse.MainPrefPage"
            name="%MainPreferencesPage"/>
   </extension>

</plugin>
