<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.thanlwinsoft.doccharconvert.converters">
      <converterDir
            path="converters/">
      </converterDir>
   </extension>
   <extension
         point="org.thanlwinsoft.doccharconvert.converter">
      <converter
            class="org.thanlwinsoft.doccharconvert.converters.myanmar.MyanmarUnicodeValidator"
            name="%MyanmarUnicodeValidator">
      </converter>
   </extension>

</plugin>
