<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="build/lib/resolver.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="build/lib/xbean.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="build/lib/xbean_xpath.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="build/lib/xmlbeans-qname.jar">
      </extraClasspathEntry>
      <extraClasspathEntry
            library="build/lib/xmlpublic.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
