#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Note: We use forceContextQualifier because the docs plugins use custom build
#       scripts and don't work otherwise.
# -DorbitDepsDir=org.thanlwinsoft.doccharconvert.systemlibs ?
BUILD_OPTIONS := -DjavacTarget=1.5 -DjavacSource=1.5 -DforceContextQualifier=201004072221 
DROPINS := usr/share/eclipse/plugins/
export JAVA_HOME := /usr/lib/jvm/java-6-openjdk
%:
	dh --with eclipse-helper --with quilt $@

override_jh_compilefeatures:
	jh_compilefeatures --build-opts '$(BUILD_OPTIONS)'

override_dh_auto_build:
	xsltproc --nonet \
		--param make.year.ranges 1 \
		--param make.single.year.ranges 1 \
		--param man.charmap.use.subset 0 -o debian/ \
		/usr/share/xml/docbook/stylesheet/nwalsh/manpages/docbook.xsl \
		debian/doccharconvert.1.xml
	dh_auto_build

